<div class="ui left aligned segment">
  <div class="ui accordion">
    <div class="title">
      Log
    </div>
    <div class="content">
      <code>
        {{this.unescapedLog}}
      </code>
    </div>
  </div>
</div>
