<div class="ui divided items" id="job-template-list">
  {{#each this.resources as |tl idx|}}
    <div class="item">
      <TemplateItemList @template={{tl}} @idx={{idx}} />
    </div>
  {{/each}}
</div>
