<div class="ui fluid four item massive menu secondary">
  <a class="item" href="/">InterSCity</a>
  {{#link-to "job-templates" class="item"}}Templates{{/link-to}}
  {{#link-to "job-scripts.index" class="item"}}Scripts{{/link-to}}
  {{#link-to "jobs" class="item"}}Jobs (TODO){{/link-to}}
</div>
