<div class="ui fluid steps">
  <div class="completed step">
    <i class="cloud download icon"></i>
    <div class="content">
      <div class="title">Extract (Read)</div>
      <div class="description">Read DataCollector Data</div>
    </div>
  </div>

  <div class="active step">
    <i class="cogs icon"></i>
    <div class="content">
      <div class="title">Transform (Query)</div>
      <div class="description">Process Data Through Query</div>
    </div>
  </div>

  <div class="disabled step">
    <i class="database circle icon"></i>
    <div class="content">
      <div class="title">Load (Write)</div>
      <div class="description">Write Results</div>
    </div>
  </div>
</div>

