$primary-color-1: #086CA2;
$primary-color-2: #235B79;
$primary-color-3: #034569;
$primary-color-4: #034569;
$primary-color-5: #034569;
$secondary-color-1: #FFCA00;
$secondary-color-2: #BFA130;
$secondary-color-3: #A68300;
$secondary-color-4: #FFD740;
$secondary-color-5: #FFE273;
$auxiliar-color-1: #FD0006;
$auxiliar-color-2: #BE2F33;
$auxiliar-color-3: #A40004;
$auxiliar-color-4: #FE3F44;
$auxiliar-color-5: #FE7276;

$blue: #2185d0;

body {
  font-family: Cantarell;
}

h1.ui.header, h2.ui.header {
  font-family: Cantarell;
  .sub.header {
    font-family: Cantarell;
  }
}

button.ui.button {
  font-family: Cantarell;
}

a.ui.item {
  font-family: Cantarell;
}

.job-templates-index {
  .row {
    // height: 60vh;
    .column {
      padding-left: 0px !important;
      padding-right: 0px !important;
      button {
        margin-right: 0px !important;
      }
    }
    .twelve.column {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }
}

button.ui.launch.attached {
  margin-bottom: 25px;
}

.card .meta {
}

html,
body {
  height: 100% !important;
}

.ui.grid {
  height: 100% !important;
}

.job-templates-show .ui.grid .column.action-panel {
  .divider {
    margin-left: 0px;
    margin-right: 0px;
  }
  // padding-left: 0px;
  // padding-right: 0px;
}

.action-panel .action-buttons {
  min-height: 70vh;
}

.job-templates-show {
  .main-stuff {
    .ui.raised.segment {
    }
    padding-left: 0px !important;
    margin-left: 0px;
  }
}

#job-template-list {
  margin-top: 10px;
}
