<div class="job-templates-index">
  <ResourceTitle @title={{"Template"}} />

  <JobTemplatesListing @resources={{this.model}} />

  <div class="ui divider"/>

  {{#link-to "job-templates.new" class="ui bottom attached fixed labeled icon green button" tagName="button"}}
    <i class="plus icon"></i>New Template
  {{/link-to}}
</div>
