<div class="job-templates-index">

  <div class="ui inverted segment">
    <h1 class="ui header center aligned">Available Templates</h1>
  </div>

  <div class="ui middle aligned padded equal height grid">
    <div class="row">
      <div class="two wide center aligned column">
        <button class="ui circular icon button" {{action "flipLeft"}}>
          <i class="left arrow icon"></i>
        </button>
      </div>

      <div class="twelve wide center aligned column">
        <div class="ui shape">
          <div class="sides">
            {{#each this.model as |tl idx|}}
              <TemplateSideCard @template={{tl}} @idx={{idx}}/>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="two wide center aligned column">
        <button class="ui circular icon button" {{action "flipRight"}}>
          <i class="right arrow icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="ui divider"/>

  {{#link-to "job-templates.new" class="ui bottom attached fixed labeled icon green button" tagName="button"}}
    <i class="plus icon"></i>New Template
  {{/link-to}}
</div>
