<div class="ui container">
  <ResourceTitle @title={{"Template"}} />

  <div class="ui segment">
    <JobTemplatesListing @resources={{this.model}} />
  </div>

  {{#link-to "job-templates.new" class="ui bottom attached fixed labeled icon green button" tagName="button"}}
    <i class="plus icon"></i>New Template
  {{/link-to}}
</div>
