<h1 class="ui header">Actions</h1>

<table class="ui very basic padded table">
  <tbody>
    <tr>
      <td class="right aligned wide">
        <button class="ui green inverted big circular button icon" {{action "scheduleJob"}}>
          <i class="plus icon"></i>
        </button>
      </td>

      <td>
        Schedule a new job to process InterSCity's data using this parameters.
      </td>
    </tr>

    <tr>
      <td class="right aligned wide">
        <button class="ui violet inverted big circular button icon" {{action "cloneTemplate"}}>
          <i class="clone icon"></i>
        </button>
      </td>

      <td>
        <p class="left aligned">Clone this operation to create a new one that has the same parameters.</p>
      </td>
    </tr>

    <tr>
      <td class="right aligned wide">
        <button class="ui red inverted big circular button icon" {{action "removeTemplate"}}>
          <i class="remove icon"></i>
        </button>
      </td>

      <td>
        Delete this query. Forever.
      </td>
    </tr>
  </tbody>
</table>
