<h1 class="ui sub header">actions</h1>

<div class="ui container" {{action "scheduleJob"}}>
  <h2 class="ui center aligned icon header green add-highlight">
    <i class="circular plus icon"></i>
    Schedule
    <div class="sub header">Schedule a new job to process InterSCity's data using this template params.</div>
  </h2>
</div>

<div class="ui container" {{action "cloneTemplate"}}>
  <h2 class="ui center aligned icon header violet add-highlight">
    <i class="circular clone violet icon"></i>
    Clone
    <div class="sub header">Creates a new template using this one as base.</div>
  </h2>
</div>

<div class="ui container" {{action "removeTemplate"}}>
  <h2 class="ui center aligned icon header red add-highlight">
    <i class="circular remove red icon"></i>
    Delete
    <div class="sub header">Delete this template. Forever.</div>
  </h2>
</div>
