<div class="ui sidebar inverted vertical menu">
  {{#link-to "job-templates.index" class="item"}}Templates{{/link-to}}
  {{#link-to "job-scripts.index" class="item"}}Scripts{{/link-to}}
  {{#link-to "processing-jobs.index" class="item"}}Jobs{{/link-to}}
</div>

<div class="pusher">
  <button class="ui big black launch attached fixed button icon" {{action "toggleMenu"}}>
    <i class="content icon"></i>
  </button>

  {{#if this.tutorial.ongoingTutorial}}
    {{intro-js start-if=true}}
  {{/if}}

  <div id="data-processor-main-content">
    <div class="ui container">
      {{outlet}}
    </div>
  </div>
</div>
