<div class="ui menu">
  <a class="header item" href="/">InterSCity</a>
  {{#link-to "spark-templates" class="item"}}Templates{{/link-to}}
  <a class="item" href="/">Jobs</a>
  <a class="item" href="/">Handlers</a>
</div>

<div class="ui main text container">
  {{outlet}}
</div>
