{{#if this.tutorial.ongoingTutorial}}
  {{intro-js start-if=true}}
{{/if}}

{{#main-navbar}}
{{/main-navbar}}

<div id="data-processor-main-content">
  <div class="ui container">
    {{outlet}}
  </div>
</div>
