{{#if this.tutorial.ongoingTutorial}}
  {{intro-js start-if=true}}
{{/if}}

<div class="ui secondary menu">
  <a class="header item" href="/">InterSCity</a>
  {{#link-to "job-templates" class="item"}}Templates{{/link-to}}
  {{#link-to "handlers" class="item"}}Handlers{{/link-to}}
  {{#link-to "jobs" class="item"}}Jobs{{/link-to}}
  {{#link-to "job-scripts.index" class="item"}}Scripts{{/link-to}}
</div>

<div class="ui main text container">
  {{outlet}}
</div>
