<div class="ui cards">
  {{#each this.model as |handler|}}
    <div class="ui card">
      <div class="content">
        <div class="center aligned header">{{truncate handler.slugTitle limit=22}}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Required Params</h4>
        <div class="ui small feed">
          {{#each-in handler.requiredParams as |key val|}}
            <div class="event">
              <div class="summary">
                <b>{{key}}</b>: {{val}}
              </div>
            </div>
          {{/each-in}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
