
<div class="ui center aligned raised segment">
  <h1 class="ui center aligned header">DataProcessor</h1>
  <p class="content">
    The ease to use Big Data middleware.
  </p>
  {{#link-to "job-templates.index" tagName="button" class="ui big button"}}Templates{{/link-to}}
  {{#link-to "job-scripts.index" tagName="button" class="ui big button"}}Scripts{{/link-to}}
  {{#link-to "job-templates.index" tagName="button" class="ui big button"}}Jobs{{/link-to}}
</div>

<img src="assets/images/dataprocessor.svg" alt="dataprocessor-description">
